!----------------------------------------------
! COLORS
! (derived from Terminator "Ambience" scheme)
!----------------------------------------------

*background: #300a24
*foreground: #ffffff

! 0: black
*color0:  #2e3436
*color8:  #555753
! 1: red
*color1:  #cc0000
*color9:  #ef2929
! 2: green
*color2:  #4e9a06
*color10: #8ae234
! 3: yellow
*color3:  #c4a000
*color11: #fce94f
! 4: blue
*color4:  #3465a4
*color12: #729fcf
! 5: magenta
*color5:  #75507b
*color13: #ad7fa8
! 6: cyan
*color6:  #06989a
*color14: #34e2e2
! 7: white
*color7:  #d3d7cf
*color15: #eeeeec


!----------------------------------------------
! URXVT
!----------------------------------------------
URxvt*cursorBlink:       true
URxvt*depth:             32
URxvt*font:              xft:Meslo\ LG\ S\ for\ Powerline:size=12
!URxvt*font:              xft:DejaVu\ Sans\ Mono\ for\ Powerline:regular:size=12
!URxvt*imFont:            xft:DejaVu\ Sans\ Mono\ for\ Powerline:regular:size=12
!URxvt*boldFont:          xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:size=12
!URxvt*italicFont:        xft:DejaVu\ Sans\ Mono\ for\ Powerline:oblique:size=12
!URxvt*boldItalicFont:    xft:DejaVu\ Sans\ Mono\ for\ Powerline:bold:oblique:size=12
!URxvt*geometry:          112x22
URxvt*iconFile:          /usr/share/icons/Mint-X/apps/96/terminator.svg
URxvt*perl-ext-common:   default,matcher,clipboard,resize-font
URxvt.keysym.C-Insert:   perl:clipboard:copy
URxvt.keysym.S-Insert:   perl:clipboard:paste
URxvt*matcher.button:    1
URxvt.resize-font.smaller: C-minus
URxvt.resize-font.bigger: C-equal
URxvt.resize-font.reset: M-0
URxvt*saveLines:         5000
!URxvt*scrollBar:         false
URxvt*scrollBar_right:   true
URxvt*scrollColor:       #000000
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*urlLauncher:       google-chrome-stable


! ------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #002b37,#008ed4
rofi.color-normal: #002b37,#819396,#003643,#008ed4,#ffffff
rofi.color-active: #002b37,#008ed4,#003643,#008ed4,#66c6ff
rofi.color-urgent: #002b37,#da4281,#003643,#008ed4,#890661
!rofi.line-margin: 6
rofi.lines: 10
!rofi.separator-style: solid
