'.platform-win32, .platform-linux':
  'alt-shift-F': 'project-find:show',
  'alt-\\': 'tree-view:toggle'
'atom-workspace, atom-workspace atom-text-editor':
  'alt-shift-M': 'markdown-preview:toggle'
'.platform-linux, .platform-linux .command-palette atom-text-editor':
  'alt-shift-P': 'command-palette:toggle'
'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
  'alt-e': 'find-and-replace:use-selection-as-find-pattern'
'atom-workspace atom-text-editor:not([mini])':
  'alt-/': 'editor:toggle-line-comments',
  'alt-[': 'editor:outdent-selected-rows',
  'alt-\]': 'editor:indent-selected-rows'
